.roles-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
  /* max-width: 600px; */
}
.swtich-item {
  display: flex;
  justify-content: space-between;
  align-items: left;
  min-width: 500px;
}
