.branch-user {
  /* background-color: #fff; */
  width: 100%;
}

.branch-user .content {
  margin-top: 2px;
  width: 100%;
}

.branch-user .content .ant-card-head {
  border-bottom: 0;
}

.branch-user .content .ant-card-body {
  padding-top: 0;
}

/* *********************** CREATE-EDIT ********************** */
.branch-user .create-edit {
  margin-top: 2px;
  background-color: #fff;
  width: 100%;
}

.branch-user .create-edit .ant-tabs-nav {
  margin: 0;
}

.branch-user .create-edit .ant-tabs-tab {
  margin: 0 !important;
  padding: 16px 20px !important;
}

.branch-user .create-edit .ant-upload-select-picture-card {
  height: 200px !important;
  display: block !important;
  width: 100% !important;
  margin-bottom: 0 !important;
}

.branch-user .create-edit .ant-card-head {
  border-bottom: 0;
}

.branch-user .create-edit .ant-card-body {
  padding-top: 0;
}

.branch-user .create-edit .img-upload .img-content {
  /* width: 100%; */
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.branch-user .create-edit .img-upload .img-content img {
  max-width: 100%;
  max-height: 90%;
  width: auto;
}

.branch-user .create-edit .img-upload .img-content .img-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-duration: .5s;
}

.branch-user .create-edit .img-upload .img-content:hover .img-buttons {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition-duration: .5s;
}

.branch-user .create-edit .time-range {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.branch-user .create-edit .vertical-divider {
  border: 1px solid #c1c1c1d9; 
  height: 20px; 
  width: 0;
}

.branch-user .create-edit .table-cell {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #8c2737;
  width: 100%; 
  height: 100%; 
  cursor: pointer;
}

.branch-user .create-edit .ant-table-cell {
  width: 12.5%;
}