/* ********** HEADER ********** */
.settings-geofence {
    margin-top: 2px;
    width: 100%;
}

.settings-geofence .geozone-header  {
    background-color: #fff;
    padding: 16px;
}

/* **************** CONTENT ************** */
.settings-geofence .content .ant-card-body {
    padding: 8px;
}

.settings-geofence .content .ant-card-body .map-content {
    width: 100%;
    /* aspect-ratio: 16/9;
    background-color: rgba(190, 190, 190, 0.2); */
}

.settings-geofence .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}


.settings-geofence .content .card-footer .card-footer-text {
    display: flex;
    flex-direction: column;
}

.card-footer-text{
    margin-bottom: 15px;
}

.card-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 0 0;
}

.toolbar{
    align-self: flex-end;
}