.orders .content {
  /* margin-top: 2px; */
  background-color: #fff;
  width: 100%;
}

.orders .content .ant-tabs-nav {
  margin-bottom: 0;
}

.orders .content .ant-tabs-tab {
  margin: 0 !important;
  padding: 16px 20px !important;
}

.orders .table .ant-tabs-tab {
  margin: 0;
  padding: 16px 20px;
}

.orders .table .all-orders {
  margin-top: -5px;
}

.orders .table .all-orders .ant-card-head {
  border-bottom: 0;
}

.orders .table .all-orders .ant-card-body {
  padding-top: 0;
}

/* ************** ADD ************* */
.orders .add {
  margin-top: 2px;
  /* background-color: #fff; */
  width: 100%;
}

.orders .add .ant-card-head {
  border-bottom: 0;
}

.orders .add .ant-card-body {
  padding-top: 0;
}

/* HIGHLIGHTED ROW */
.selected-row {
  /* background-color: rgba(245, 138, 138, 0.4); */
  background-color: #f2cbd94d;
}

.column-overflow{
  overflow: hidden;
}
