// ANT MENU
.ant-menu-item {
  color: #000 !important;
  font-size: 14px !important;
  .ant-menu-item-icon {
    font-size: 16px !important;
  }
}
// .ant-menu-item:active {
//   background-color: unset;
// }
.ant-menu-item::after {
  content: none !important;
}
.ant-menu-item:nth-child(1) {
  margin-top: 0 !important;
}

.ant-menu-item-selected {
  background-color: #f1f2f6 !important;
  color: #000 !important;
  font-size: 14px !important;
}

.ant-menu-item-selected a {
  color: unset !important;
}

.ant-menu-item-active {
  color: #8c2737 !important;
}


// ANT SUB-MENU
.ant-menu-submenu-selected {
  background-color: #fafafa;
  color: #000 !important;
}