.orders .content {
    /* margin-top: 2px; */
    background-color: #fff;
    width: 100%;
}
  
.orders .content .ant-tabs-nav {
    margin-bottom: 0;
}
  
.orders .content .ant-tabs-tab {
    margin: 0 !important;
    padding: 16px 20px !important;
}

.orders .content .table-content .ant-table-pagination{
    display: none !important;
}

.orders .content .table-content .ant-table-cell {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    background: white !important;
    border: none !important;
    border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.orders .content .table-content .ant-table-cell-fix-left, .orders .content .ant-table-thead .ant-table-cell{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.orders .content .table-content .ant-table {
    border: none !important;
}
.orders .content .table-content .count-badge {
    height: 22px;
    min-width: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 122, 255);
    background-color: rgba(0, 122, 255, 0.1);
    padding: 0 5px;
}
/* .orders .content .table-content {
    padding: 32px;
} */

.orders .content .table-content .ant-card-head {
    border-bottom: 0;
}
  
.orders .content .table-content .ant-card-body {
    padding-top: 0;
    display: flex;
}


/* ***************** VIEW COURIER MAP **************** */

.view-courier-map {
    width: 95% !important;
    aspect-ratio: 16/7 !important;
}

.view-courier-map .ant-modal-content {
    height: 90vh;
    position: relative;
    top: -50px;
    /* height: 100%; */
}

.view-courier-map .ant-modal-body {
    height: calc(100% - 55px);
    padding: 0
}