.orders .content {
    /* margin-top: 2px; */
    background-color: #fff;
    width: 100%;
}
  
.orders .content .ant-tabs-nav {
    margin-bottom: 0;
}
  
.orders .content .ant-tabs-tab {
    margin: 0 !important;
    padding: 16px 20px !important;
}

.order-map {
    width: 100%;
    /* position: relative; */
}

.order-map .ant-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: calc(100% - 48px);
    height: calc(100% - 156px);
}

.order-map .ant-card .ant-card-head {
    border-bottom: 0;
  }
  
.order-map .ant-card .ant-card-body {
    padding-top: 0;
    flex-grow: 1;
    /* padding-bottom: 16px; */
}

.order-map .map-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(100% - 48px);
    height: calc(100% - 156px);
    padding: 14px;
    background-color: #fff;
    /* aspect-ratio: 2; */
    /* background-color: rgba(190, 190, 190, 0.2); */
}