.branches .content {
  margin-top: 2px;
  background-color: #fff;
  width: 100%;
}

.branches .content .ant-card-head {
  border-bottom: 0;
}

.branches .content .ant-card-body {
  padding-top: 0;
}

/* *********** CREATE-EDIT STYLES ************* */
.branches .create-edit {
  margin-top: 2px;
  background-color: #fff;
  width: 100%;
}

.branches .create-edit .ant-tabs-nav {
  margin: 0;
}

.branches .create-edit .ant-tabs-tab {
  margin: 0 !important;
  padding: 16px 20px !important;
}

.branches .create-edit .ant-upload-select-picture-card {
  height: 200px !important;
  display: block !important;
  width: 100% !important;
  margin-bottom: 0 !important;
}

.branches .create-edit .ant-card-head {
  border-bottom: 0;
}

.branches .create-edit .ant-card-body {
  padding-top: 0;
}

.branches .create-edit .img-upload .img-content {
  /* width: 100%; */
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.branches .create-edit .img-upload .img-content:hover .img-buttons {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  transition-duration: .5s;
}

.branches .create-edit .img-upload .img-content img {
  max-width: 100%;
  max-height: 90%;
  width: auto;
}

.branches .create-edit .img-upload .img-content .img-buttons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-duration: .5s;
}
