.reports {
  width: 100%;
}

.reports .by-representatives .content {
  margin-top: 2px;
  background-color: #fff;
  width: 100%;
  padding: 16px 24px;
  /* height: 400px; */
}

.ant-table-footer {
  padding: 0;
  overflow-x: hidden !important;
  position: sticky;
  bottom: 0;
}

.ant-table .ant-table-bordered{
  background-color: rgb(230, 222, 222);
  font-weight: 600;
  border: none !important;

}