.create-map {
  width: 100%;
}

.create-map .content {
  padding: 17px;
  margin-top: 2px;
}

.create-map .content .map-content {
  width: 100%;
  aspect-ratio: 2;
  /* height: 460px; */
  background-color: rgba(190, 190, 190, 0.2);

}

.view-geozone {
  width: 85% !important;
  aspect-ratio: 16/7 !important;
}

.view-geozone .ant-modal-content {
  height: 100%;
}

.view-geozone .ant-modal-body {
  height: calc(100% - 55px);
  padding: 0
}