.reports {
  width: 100%;
}

.reports .content {
  margin-top: 2px;
  background-color: #fff;
  width: 100%;
  padding: 16px 24px;
  /* height: 400px; */
}

.filters {
  display: flex;
  justify-content: space-between;
}

.filters div {
  display: flex;
}
