.home {
  margin-top: 2px;
  width: 100%;
  /* height: 400px; */
  background-color: #fff;
}

.home .ant-card-head {
  border-bottom: 0;
}

.home .ant-card-body {
  padding-top: 0;
}

/* ***************************** */

.top-avatar-count {
  background-color: #8b0037;
  color: #fff;
}

.avatar-count {
  background-color: #f5f5f5;
  color: #000;
}

.wrapper {
  border: 1px solid #e5e9eb;
}

.branches2 {
  max-height: 448px;
  overflow-y: auto;
}
.branches_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #e5e9eb;
}
.branches_left {
  display: flex;
  align-items: center;
}
.branches_left span {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
}
.branches_count {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e5e9eb;
  font-size: 16px;
  line-height: 38px;
  font-weight: 600;
  margin-right: 16px;
  letter-spacing: -0.006em;
  text-align: center;
}
.branches_count_name {
  font-weight: 600;
}
.branches_count_phone {
  color: #84919a;
  font-weight: 400;
}
.branches_right_total {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #8b0037;
}
.branches_right_job {
  color: #84919a;
}
.date-picker {
  margin: 10px 0;
}

.pie {
  position: relative;
}
.total {
  position: absolute;
  top: 42%;
  left: calc(50% - 150px);
  line-height: 36px;
  font-size: 36px;
  font-weight: 600;
}
.total .sup {
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  color: #84919a;
  letter-spacing: 0px;
}
.total p {
  margin: 0;
  text-align: center;
}

/* Top Curiers */
.curier {
  max-height: 448px;
  overflow-y: auto;
}
.curier_header {
  display: flex;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  justify-content: start;
  border-bottom: 1px solid #e5e9eb;
}
.curier_header_num,
.curier_header_fio,
.curier_header_count {
  padding: 12px 16px;
}

.curier_header_num,
.curier_header_fio {
  border-right: 1px solid #e5e9eb;
}

.curier_row_num,
.curier_header_num {
  width: 48px;
  text-align: center;
}
.curier_row_fio,
.curier_header_fio {
  width: 280px;
}
.curier_header_count,
.curier_row_count {
  flex-grow: 1;
}

.curier_row {
  display: flex;
  line-height: 22px;
  font-size: 14px;
}
.curier_row_num,
.curier_row_fio,
.curier_row_count {
  padding: 12px 16px;
}
.curier_row_num,
.curier_row_fio {
  border-right: 1px solid #e5e9eb;
}
