.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #c0c0c0;
  border-bottom: 1px solid #ebedee;
  padding: 15px 0;
  .message {
    font-size: 16px;
    font-weight: 400;
  }
}
