.rdrDay .rdrDayNumber {
  margin-bottom: 10px !important;
}
/* 
.rdrDay.rdrDayHovered span {
  border-radius: 2px;
} */

.rdrDayToday .rdrDayNumber span:after {
  bottom: 0;
  background: #8b0037;
}

.rdrDayStartOfMonth .rdrEndEdge,
.rdrDayStartOfWeek .rdrInRange,
.rdrDayStartOfWeek .rdrEndEdge,
.rdrDayStartOfWeek .rdrEndEdge,
.rdrDayStartPreview,
.rdrStartEdge {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  left: 0 !important;
}
.rdrDayEndOfWeek .rdrDayStartPreview,
.rdrDayEndOfMonth .rdrStartEdge,
.rdrDayEndOfWeek .rdrInRange,
.rdrDayEndPreview,
.rdrEndEdge {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  right: 0 !important;
}

.rdrDayInPreview {
  border-radius: 0 !important;
}

.ant-picker-suffix {
  display: none !important;
}
.ant-picker-range-separator {
  margin: 0 10px !important;
}
.ant-picker-clear {
  display: none !important;
}
