.salaries .content {
    margin-top: 2px;
    background-color: #fff;
    width: 100%;
  }
  
  .salaries .content .ant-card-head {
    border-bottom: 0;
  }
  
  .salaries .content .ant-card-body {
    padding-top: 0;
  }
  