#components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.ant-layout {
    background-color: #f9f9f9;
}
.site-layout .site-layout-background {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0, .1);

}
//.slider {
//    box-shadow: 2px 0 4px rgba(0,0,0, .5);
//}
.logo {
    height: 64px !important;
    /*background-color: white;*/
    padding-left: 1.5rem;
    display: flex;
    text-align: center !important;
    align-items: center !important;
}
.logo .avatar {
    margin-left: 20px;
    width: 48px;
    height: 48px;
}
.logo .title {
    color: white;
    font-size: 24px;
    margin: auto 20px;
}
.menuIcon {
    font-size: 20px;
    margin: auto 20px;
    color: rgba(0,0,0, .65);
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 9;
}
.sider {
    height: calc(100% - 64px);
    overflow-y: scroll;
    position: fixed;
    margin-top: 64px;
}
.mainBox {
    padding: 24px;
    // margin: 0 !important;
    position: relative;
    margin-left: 250px !important;
    margin-top: 64px !important;
    //background-color: #f1f1f1;
}
.mainBox .ant-card-bordered {
    border: none !important;
}
.mainBox .ant-card {
    border-radius: 2px !important;
}
