.brand-title-logo {
  mask-image: url("../../assets/images/anor_logo.svg");
  -webkit-mask-image: url("../../assets/images/anor_logo.svg");
  /* background: #695AF7; */
  /* width: 30px; */
  /* height: 30px; */
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: top center;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  display: flex;
  vertical-align: bottom;
}

.brand-logo {
  mask-image: url("../../assets/images/anor_logo.svg");
  -webkit-mask-image: url("../../assets/images/anor_logo.svg");
  /* background: #695AF7; */
  /* width: 30px; */
  /* height: 30px; */
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: top center;
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top center;
  display: inline-block;
  vertical-align: bottom;
}