.orders .content {
  /* margin-top: 2px; */
  background-color: #fff;
  width: 100%;
}

.orders .content .ant-tabs-nav {
  margin-bottom: 0;
}

.orders .content .ant-tabs-tab {
  margin: 0 !important;
  padding: 16px 20px !important;
}