.styled-card {
    /* padding: 9px 16px; */
    border-radius: 6px;
    /* overflow-y: scroll; */
    position: relative;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
}

.styled-card .card-content {
    padding: 9px 16px;
    width: 100%; 
    height: 100%; 
    overflow-y: scroll;
}

.delivered {
    background: rgba(76, 217, 100, 0.1);
    box-shadow: inset 4px 0px 0px #4CD964;
}

.canceled {
    background: rgba(255, 59, 48, 0.1);
    box-shadow: inset 4px 0px 0px #FF3B30;
}

.active {
    background: rgba(139, 0, 55, 0.1);
    box-shadow: inset 4px 0px 0px #8B0037;
}

.styled-card h1 {
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 6px;
}


.styled-card span{
    font-size: 11px;
    line-height: 16px;
    color: #9299A1;
}

.styled-card .view-order {
    position: absolute;
    right: 5px;
    top: 50%;
    font-size: 16px;
    transform: translateY(-50%);
    cursor: pointer;
}

.styled-card .loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    top: 0;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.styled-card .loading .ant-spin-dot {
    font-size: 18px;
}